* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    font-family: monospace;
    color: #fff;
    background: lightblue url("img/background-1.jpg") no-repeat fixed center;
}

.my-name, 
.my-position, 
.my-photo,
.my-badges-header,
.my-badge-image {
    text-align: center;
}

.container {
    width: 50%;
    margin: 25% auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 3px;
}