* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

.my-name, 
.my-position, 
.my-photo,
.my-badges-header,
.my-badge-image {
    text-align: center;
}

.container {
    width: 50%;
    margin: 0 auto;
}