* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    font-family: monospace;
    color: #fff;
    background: lightblue url("img/background-1.jpg") no-repeat fixed center;
}

.my-name, 
.my-position, 
.my-photo,
.my-badges-header,
.my-badge-image {
    text-align: center;
}

.container {
    width: 50%;
    margin: 25% auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-photo img {
    margin: 40px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

.my-name {
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: normal;
}

.my-position {
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: 2px;
}

.brief {
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.my-badges-header {
    margin-bottom: 10px;
    font-weight: normal;
}